@use '../../../scss/variables' as vars;

//the title of a playlist
div.playlistWrapper > h2 {
  color: vars.$color-text;
}

button.playlistDeleteButton {
  display: block;
  margin-left: auto;
  margin-right: 0;
  width: 28px;
  height: 28px;
  padding: 0;
  background-color: transparent;
  transition: background-color vars.$transition-fast,
  border-color vars.$transition-fast,
  color vars.$transition-fast;

  &:active {
    background-color: rgba(220, 50, 50, 0.18);
    border-color: #dc3232 !important;
    color: #dc3232;
    transform: scale(0.95);
  }
}