body {
    background-color: rgb(8, 8, 10);
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

div {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;

    &.dividerLine {
        height: 5px;
        background-color: #51c276;
        width: 75%;
        $marginTopBottom: 20px;
        margin-top: $marginTopBottom;
        margin-bottom: $marginTopBottom;
    }

    &.popupWrapper {
        position: fixed;
        width: 80vw;
        height: 70vh;
        z-index: 70;
        background-color: #202020;
        border: #505050 5px solid;
        top: 15vh;
        left: 10vw;
        border-radius: 20px;

        transition-property: transform;
        transition-duration: 0.75s;
        transition-timing-function: ease;
        transform: scale(0);

        &.shown {
            transform: scale(1);
        }
    }
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;

    &.artworkImage {
        $width: 90%;
        width: $width;
        height: auto;
        border-radius: 10px;
        margin-left: unset;
        margin-right: 100% - $width;
    }
}

button {
    background-color: transparent;
    border: none;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 0;
    width: fit-content;
    max-width: 100%;
}

table {
    width: 100%;
    table-layout: fixed;;
}

.noVerticalSpacing {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}