body {
    background-color: rgb(8, 8, 10);
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

div {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;

    &.dividerLine {
        height: 5px;
        background-color: #51c276;
        width: 75%;
        $marginTopBottom: 20px;
        margin-top: $marginTopBottom;
        margin-bottom: $marginTopBottom;
    }
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

table {
    width: 100%;
    table-layout: fixed;;
}

.noVerticalSpacing {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}