img.playerButtonImage {
    transform: scale(1);
    transition-property: transform;
    transition-duration: 0.75s;
    transition-timing-function: ease;

    &:hover {
        transform: scale(1.2);
    }
}

div.playerWrapper {
    width: 50vw;
}