@use './variables' as vars;

h1 {
  font-family: vars.$font-family-heading;
  font-size: vars.$font-size-lg;
  font-weight: vars.$font-weight-bold;
  letter-spacing: 0.02em;
  color: vars.$color-text;
}

h2 {
  font-family: vars.$font-family-heading;
  font-size: vars.$font-size-md;
  font-weight: vars.$font-weight-medium;
  letter-spacing: 0.02em;
  color: vars.$color-primary;
}

p, span, li, input {
  font-family: vars.$font-family-base;
  font-size: vars.$font-size-base;
  font-weight: vars.$font-weight-regular;
  color: vars.$color-text;
}

a {
  font-family: vars.$font-family-base;
  font-size: vars.$font-size-base;
  font-weight: vars.$font-weight-medium;
  color: vars.$color-primary-dim;
  text-decoration: underline;
}


//deal with text alignment
$alignmentMargin: 10%;

@mixin alignLeft {
  text-align: left;
  transform-origin: left;
  margin-left: $alignmentMargin;
  margin-right: unset;
}

@mixin alignRight {
  text-align: right;
  transform-origin: right;
  margin-right: $alignmentMargin;
  margin-left: unset;
}

h1, h2, p, span, li {
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  &.alignLeft {
    @include alignLeft;
  }
  &.alignRight {
    @include alignRight;
  }
}
section.alignLeft  p, section.alignLeft  h2 {
  @include alignLeft;
}
section.alignRight  p, section.alignRight  h2 {
  @include alignRight;
}

//paragraphs in buttons or links
a p, button p {
  cursor: pointer;

  transition-property: transform;
  transition: vars.$transition-fast;

  &:active {
    transform: scale(1.05);
  }
}

button p {
  color: vars.$color-text-on-primary;
}